branca==0.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click 
Flask-Login 
Flask-SQLAlchemy 
folium==0.15.0
geographiclib==2.0
geopy==2.4.1
greenlet 
idna==3.6
itsdangerous 
Jinja2 
numpy==1.26.2
requests==2.31.0
SQLAlchemy 
typing_extensions
urllib3==2.1.0
Werkzeug
